html, body {
    height: 100%;
}

ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
    font-size: 18px;
    border-radius: 3px;
}

li > span {
    margin-left: 10px;
}

#map {
    margin-top: 0.5vh;
    height: 90vh;
}

#my-sidebar {
    width:300px;
}
#my-content {
    margin-left:300px;
}

.fa-close {
    color: lightgrey;
}

.fa-close:hover {
    color: black;
}